@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

 /*header*/   
.icone-menu {
    display: none;
}

.cabecalho {
    background: #132235;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cabecalho-logo {
    width: 280px;
    height: 71px;
    top: 14px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin-right: 20px;
}

.menu-botao {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 109.68%;
}

/*body*/

.conteudo-opinioes {
    display: none;
}

.conteudo-saibamais {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 150px 20px;
}

.saibamais-texto {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.img-procurando {
    width: 50%;
}

.conteudo-saibamais h1 {
    width: auto;
    height: 162px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 109.68%;
    text-align: left;
    color: #132235;
}

.conteudo-saibamais p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 136.68%;
    height: 64px;
    top: 416px;
    color: #132235;
}

.conteudo-saibamais a {
    display: flex;
    background: #132235;
    color: #6DDAD3;
    border-radius: 10px;
    width: 350px;
    height: 74px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 136.68%;
    margin-top: 50px;
}

.quem-somos {
    display: inline-flex;
    background-color: #132235;
    padding-top: 191px;
    padding-bottom: 190px;
    width: auto;
}

.quem-somos h2 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 136.68%;
    padding-left: 30px;
}

.quem-somos p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 136.68%;
    width: auto;
    height: 319.58px;
    padding: 4px 30px;
}

.img-livros {
    width: 50%;
    height: 394.84px;
    padding-right: 20px;
}

.contato {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: auto;
}

h5 {
    margin-left: 42px;
    margin-top: 48px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 136.68%;
    color: #132235;
    width: 688px;
}

form label, form legend {
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    margin-left: 51px;
    color: #132235;
    line-height: 136.68%;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 70%;
    color: #132235;
    margin-left: 30px;
    border-radius: 10px;
    border-width: 2px;
}

.enviar {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 136.68%;
    background: #132235;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 10px 20px;
    border: none;
    display: block;
    margin: 10px 40px;
}

.img-contato {
    width: 50%;
    height: 382.86px;
    margin: 30px auto;
    align-self: flex-end;
}

.entre-contato {
    width: 50%;
}

footer {
    background-color: #132235;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.footer-logo {
    width: 288px;
    height: 71px;
    margin-left: 20px;
}

.rodape-social {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.copyright {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 136.68%;
    justify-content: flex-end;
    margin-right: 20px;
}

/******MOBILE*******/
@media (max-width:768px) {

/*header*/
    
.icone-menu {
    display: block;
    margin: 0 35.46px;
    z-index: 10;
    cursor: pointer;
    width: 21.71px;
    height: 19px;
}
    
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #132235;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 30px;
}
    
.nav-menu.open {
    transform: translateX(0);
    margin-right: 0px;
}
    
.nav-menu li {
    margin: 10px 0;
}
    
.menu-botao {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
    
.cabecalho, .conteudo, .rodape-container {
    width: 100%;
}

.conteudo-saibamais, .quem-somos, .contato {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 20px 0px;
}

.quem-somos {
    height: fit-content;
    padding: 0px 0px;
}

.saibamais-texto, .entre-contato {
    width: auto;
    margin: auto 20px;
}

.img-livros {
    padding-top: 150px;
}

.img-procurando, .img-livros, .img-contato {
    width: 100%;
}

.footer-logo, .rodape-container p {
    display: none;
}

.rodape-container {
    display: flex;
    justify-content: space-around;
}

h2, h3, h5 {
    font-size: 40px;
}


.entre-contato {
    font-size: 15px;
    margin-left: 0px;
}

.conteudo-opinioes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.conteudo {
    background-color: #132235;
    color: #FFFFFF;
}

.conteudo h3 {
    font-weight: bolder;
    margin: 50px 20px;
}

.clientes {
    width: 125px;
    height: 125px;
    align-self: center;
    padding-bottom: 10px;
}

.conteudo-opinioes h4{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.conteudo-opinioes p {
    margin-bottom: 40px;
    width: 166px;
}


}